$imgwd:70%;
$imght:300px;
$font: "Verdana", Arial, sans-serif;


@mixin mq-360{
	@media screen and (max-width:360px){
	@content;
	}
}
@mixin mq-587{
	@media screen and (min-width:361px) and (max-width:587px){
	@content;
	}
}

.carousel-caption{

	font-family:$font;
	font-size:2em;
	@include mq-360{
		font-size:18px;
	}
	@include mq-587{
		font-size:24px;
	}
}
.images{
	background-color:$navcolor;
	width:$imgwd;
	height:$imght;
	margin-left:auto;
	margin-right:auto;
	overflow:scroll;
	}
	.img-responsive{
	 padding: 45px 74px;

	}
	img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}