$navcolor:#0678BF;
$linkcolor:#fff;/*white*/
$navhover:#ec705;
$btnbg:#8E56BD;

.navigation {
	background:$navcolor;

}
.navigation{
	ul{
	list-style:none;
	padding: 10px ;
	}
	li{
	display:inline;
	padding: 0px 15px;
	margin-left:auto;
	margin-right:auto;
	}
	a{
		
		color:$linkcolor;
		text-decoration:none;
		padding: 50px;
		font-size:1.5em;
		
	}
}
.navbar li a:hover{
	background:linear-gradient(blue, red);
}