.food{
		height:auto;
		margin:0 10%;
	     width:100%;
}


.col1{
	width:50%;
	float:left;
	

}
.heading-food{
   width:70%;
   padding-left:20%;
   text-align:center;
   }
   .para-food{
   margin:auto;
   width:70%;
   height:300px;
   }
.col2{
	width:30%;
	float:left;
    
	}

	#img-food{
	width:100%;
	margin:auto;
	height:300px;
	padding-top:20px;
	}

.food:after{
	clear:both;
	}
	@media only screen and (max-width:500px){
	.food{
	 width:100%;
	 height:auto;
	 float:none;
	}
	.col1, .col2 {
	width:100%;
	float:none;
	height:auto;
	}
	#img-food{
	width:100%;
	height:auto;
	float:none;
	}
}